.ig-code .HyperMD-codeblock,
.ig-lists .HyperMD-list-line,
.ig-uncategorized .cm-line[style*="text-indent"]:not(.HyperMD-list-line) {
  position: relative;
}

.ig-code .HyperMD-codeblock .cm-tab::before,
.ig-lists .HyperMD-list-line .cm-tab::before,
.ig-uncategorized
  .cm-line[style*="text-indent"]:not(.HyperMD-list-line)
  .cm-tab::before {
  content: " ";
  display: block;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.07);
  font-size: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

.ig-code
  .HyperMD-codeblock.cm-indent-group
  .cm-tab.cm-indent-group-level::before,
.ig-lists
  .HyperMD-list-line.cm-indent-group
  .cm-tab.cm-indent-group-level::before,
.ig-uncategorized
  .cm-line[style*="text-indent"].cm-indent-group:not(.HyperMD-list-line)
  .cm-tab.cm-indent-group-level::before {
  background-color: rgba(0, 0, 0, 0.17);
}

.theme-dark.ig-code .HyperMD-codeblock .cm-tab::before,
.theme-dark.ig-lists .HyperMD-list-line .cm-tab::before,
.theme-dark.ig-uncategorized
  .cm-line[style*="text-indent"]:not(.HyperMD-list-line)
  .cm-tab::before {
  background-color: rgba(255, 255, 255, 0.07);
}

.theme-dark.ig-lists
  .HyperMD-list-line.cm-indent-group
  .cm-tab.cm-indent-group-level::before,
.theme-dark.ig-code
  .HyperMD-codeblock.cm-indent-group
  .cm-tab.cm-indent-group-level::before,
.theme-dark.ig-uncategorized
  .cm-line[style*="text-indent"].cm-indent-group:not(.HyperMD-list-line)
  .cm-tab.cm-indent-group-level::before {
  background-color: rgba(255, 255, 255, 0.17);
}
